<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Test CSRF</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
  <div class="container" max-width="sm" style="padding:5px 0px 0px 0px;">
    <!-- La siguiente fila es con el boton -->
    <div class="row" style="padding:10px 0px 0px 0px;">
      <form class="row g-3" action="/page/csrf" method="POST" autocomplete="on" >
        <div class="col">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Rut</label>
            <input type="text" class="form-control" id="exampleFormControlInput1"
              placeholder="rut sin puntos y con guión">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">JSON de entrada</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <input type="submit" class="btn btn-primary" value="Test CSRF">
          </div>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      </form>
    </div>

    <div class="row">
      <div class="col">
        {% if errorMsg %}
        <div class="alert alert-warning" role="alert">
          Prueba con Rut: {{rut}}!
        </div>
        {% else %}
        <div class="alert alert-success" role="alert">
          Prueba con Rut: {{rut}}!
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</body>

</html>